/**/node_modules
/**/env.js
/**/awsConfig.json
/**/package-lock.json
/**/yarn.lock
/build/*
.env
env.mjs
awsConfig.json
apis/**/service/
apis/**/util/
apis/**/package.json
*.pem
env.mjs
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store